html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Custom Navbar Styles */
.navbar-custom {
    background-color: #333;
    border-bottom: 3px solid #258cfb;
}

    .navbar-custom .navbar-brand,
    .navbar-custom .nav-link {
        color: white;
    }

        .navbar-custom .nav-link:hover {
            background-color: #575757;
        }

    .navbar-custom .navbar-toggler {
        border-color: #258cfb;
    }

